{% extends "layout.html" %}

{% block content %}

	<main class = "hero-section">
  		<div class = "container">
    	  	<div class="section-tabs" style="width: 900px" >
  				<div class="nav" style="margin-top: 70px;margin-left: 100px;" >
  					<div>
					<div id="tab1" onClick="JavaScript:selectTab(1);">Movies</div>
					<div id="tab2" onClick="JavaScript:selectTab(2);">Series</div>
					</div>
					<hr id="tabline"/>
					<div style="clear: left;">
					<div id="tab1Content" style="float: left;">
  					{% for movie in myFavMovies %}
  						{% if movie.itemtype == 'movie' %}
		  					<div class="posterSection">
					   			<img id="poster" title="{{movie.title}}" src="{{movie.poster}}" alt='.'> 	
					   			<div id="Title" title="{{movie.title}}">{{movie.title}}</div>
					   			<div id="year">({{movie.year}})</div>
					   			<button title="Move to Watchlist" type="submit" id="moveTowatchlist" class="list-group-item MovieButton" value="{{movie.id}}" onclick="moveToWatchlist(this)"><i class="fa fa-plus fa-fw" aria-hidden="true"></i></button>
					   			<!-- <button type="submit" id="recommend" class="list-group-item MovieButton" value="{{movie.id}}" onclick="Remove(this)"><i class="fa  fa-thumbs-o-up fa-fw" aria-hidden="true"></i></button> -->
					   			<!-- <button type="submit" id="shareMovie" class="list-group-item MovieButton" value="{{movie.id}}" onclick="f1(this)"><i class="fa fa-share fa-fw" aria-hidden="true"></i></button> -->
					   			<button title="Remove from Favorite" type="submit" id="RemoveFromFav" class="list-group-item MovieButton" value="{{movie.id}}" onclick="Remove(this)"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i></button>	
		  					</div>
	  					{% endif %}
  					{% endfor %}
					</div>
					<div id="tab2Content" style="float: left;">
  					{% for movie in myFavMovies %}
  						{% if movie.itemtype == 'series' %}
		  					<div class="posterSection">
					   			<img id="poster" title="{{movie.title}}"" src="{{movie.poster}}" alt='.'> 	
					   			<div id="Title" title="{{movie.title}}">{{movie.title}}</div>
					   			<div id="year">({{movie.year}})</div>
					   			<button title="Move to Watchlist" type="submit" id="moveTowatchlist" class="list-group-item MovieButton" value="{{movie.id}}" onclick="moveToWatchlist(this)"><i class="fa fa-plus fa-fw" aria-hidden="true"></i></button>
					   			<!-- <button type="submit" id="recommend" class="list-group-item MovieButton" value="{{movie.id}}" onclick="Remove(this)"><i class="fa  fa-thumbs-o-up fa-fw" aria-hidden="true"></i></button> -->
					   			<!-- <button type="submit" id="shareMovie" class="list-group-item MovieButton" value="{{movie.id}}" onclick="f1(this)"><i class="fa fa-share fa-fw" aria-hidden="true"></i></button> -->
					   			<button title="Remove from Favorite" type="submit" id="RemoveFromFav" class="list-group-item MovieButton" value="{{movie.id}}" onclick="Remove(this)"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i></button>		
		  					</div>
	  					{% endif %}
  					{% endfor %}
  					</div>
  					</div>
  				</div>
  			</div>
  		</div>	

		<link href="{{ url_for('static', filename='css/profileCSS.css') }}" rel="stylesheet">
	  	<script type="text/javascript">
	  		
	  		function selectTab(tabIndex) {
  //Hide All Tabs
  document.getElementById('tab1Content').style.display="none";
  document.getElementById('tab2Content').style.display="none";
  
  //Show the Selected Tab
  document.getElementById('tab' + tabIndex + 'Content').style.display="block";  
}

function moveToWatchlist(objButton){
	movieid = objButton.value  
    var mm = { "id" : movieid,
    			}
      $.getJSON($SCRIPT_ROOT + '/_moved_to_Watchlist', mm, function(data) {
        console.log(data.result + 'added to fav');
      });
      $.getJSON($SCRIPT_ROOT + '/_remove_from_watched', mm, function(data) {
        console.log(data.result + 'added to fav');
      });
      $.getJSON($SCRIPT_ROOT + '/_remove_from_fav', mm, function(data) {
        console.log(data.result + 'added to fav');
      }); 
      return false;  
}  

function Remove(objButton){
	movieid = objButton.value  
    var mm = { "id" : movieid,
    			}
      $.getJSON($SCRIPT_ROOT + '/_remove_from_fav', mm, function(data) {
        console.log(data.result + 'added to fav');
      }); 
      return false;  
}  

	  	</script>
	 </main>

{% endblock %}