{% extends "layout.html" %}

{% block content %}

	<main class = "hero-section">
	  <div class = "container">
	    
	  <div class="section-tabs" style="width: 255px;">
	  {% if moviename %}
	  <div style="font-size: 18px;font-weight: bold; padding-top: 20px;margin-top: 20px;">Are You Looking for this</div>
	  {% endif %}
	  		{% for moviename  in moviename  %}
	  			{%if (moviename['Poster'] != "N/A") and  (movienameExact['Error'] != "Movie not found!") %}	
			   	<div id="result" style="width: 230px; margin-top: 40px; float: left;">
			   		<div class="posterSection" style="width: 150px; padding-right: 30px;">
			   			<img src="{{moviename['Poster']}}" style="height: 100% ;width: 100%; border: 4px solid #1266f1;border-radius: 10px;" alt='.'>
			   		</div>
			   		<div class="infoSection" style="width: 100% ;">
			   			<div id="Title" style="font-size: 18px;font-weight: bold;"><a href="#">{{moviename['Title']}}</a></div>
			   			<div id="releaseYear">{{moviename['Year']}}</div>
			   		</div>
			  	</div>
			  	{% endif %}
		  	{% endfor %}

	  	
	  </div>

	  <div class="section-map">
	  	<div class="nav">
	  		<form method="POST" action="/home">
	  			{{form.hidden_tag()}}

	  			<div class="form-group" id ="SearchBar">
        	      {% if form.movie_name.errors %}
                     {% for error in form.movie_name.errors %}
                		<p class="error-message">{{error}}</p>
              		 {% endfor %}
            	  {% endif %}

      		 	 {{form.movie_name(placeholder="Search a Movie")}}
	  			</div>
	  			
	  			{{ form.submit(class="btn-primary")}}

	  		</form>
	  		{% if movienameExact and  (movienameExact['Error'] != "Movie not found!")  %}
		   	<div id="result" style="width: 750px; margin-top: 40px; float: left; padding: 10px;border: 1px solid #1266f1;border-radius: 15px;">
		   		<div class="posterSection" style="float:left;width: 220px; padding-right: 30px;">
		   			<img src="{{movienameExact['Poster']}}" style="height: 330px ;width: 220px;border: 4px solid #1266f1; border-radius: 10px;" alt='.'>
		   			<!-- <a href="#"> Watch Trailer</a> -->
		   		</div>
		   		<div class="infoSection" style="width: 350px ;margin-right: 15px; float: left;">
		   			<div id="Title" style="font-size: 25px;font-weight: bold; padding-bottom: 16px;">{{movienameExact['Title']}}</div>
		   			<div id="releaseYear">{{movienameExact['Year']}}</div>
		   			<div id=genere style="padding-bottom: 16px;">{{movienameExact['Genre']}}</div>
		   			<div id=plot style="padding-bottom: 16px;">{{movienameExact['Plot']}}</div>
		   			<div id=director><span>Director : </span>{{movienameExact['Director']}}</div>
		   			<div id=actor><span>Actors : </span> {{movienameExact['Actors']}}</div>
		   		</div>
		   			<div class="ratingSection" style="float: left; margin-top:40px;">

		   				<div id="siteName" style="font-size: 18px ; color: #EFC32F;">IMDb</div>
			   			<div id="imdbRating">
						  <div id="bar-4" class="bar-main-container yellow">
						    <div class="wrap">
						      <div class="bar-percentage" data-percentage="{{movienameExact['imdbRating'] | int *10}}"></div>
						      <div class="bar-container">
						        <div class="bar"></div>
						      </div>
						    </div>
						  </div>
						</div>

			   			<div id="siteName" style="font-size: 18px ; color: #E44C41;">RTMeter</div>
			   			<div id="rtRating">
						  <div id="bar-5" class="bar-main-container red">
						    <div class="wrap">
						      <div class="bar-percentage" data-percentage="{{movienameExact['rtScore'] | replace('%','') | int}}"></div>
						      <div class="bar-container">
						        <div class="bar"></div>
						      </div>
						    </div>
						  </div>
						</div>

			   			<div id="siteName" style="font-size: 18px ; color: #8E5D9F;">Metascore</div>
			   			<div id="metascore">
						  <div id="bar-3" class="bar-main-container violet">
						    <div class="wrap">
						      <div class="bar-percentage" data-percentage="{{movienameExact['Metascore'] | int}}"></div>
						      <div class="bar-container">
						        <div class="bar"></div>
						      </div>
						    </div>
						  </div>
						</div>

			   			<div id=avg>Avg Score </div>
		   			</div>
		   			<div>
					</div>
		   		<div>
		   		</div>
		  	</div>
		   			<div id="buttonContainer" style="float: right;">
					   	<button title="Add to Watched" type="submit" id="watched" class="list-group-item MovieButton"><i class="fa  fa-eye fa-fw" aria-hidden="true" style="color:#FFF; font-size:38px;"></i></button>
					   	<button title="Add to Favorite" type="submit" id="fav" class="list-group-item MovieButton"><i class="fa fa-heart fa-fw" aria-hidden="true" style="color:#FFF;font-size:38px;"></i></button>
					   	<button title="Add to Watchlist" type="submit" id="watchlist" class="list-group-item MovieButton"><i class="fa  fa-plus fa-fw" aria-hidden="true" style="color:#FFF;font-size:38px;"></i></button>
					</div>

		  	{% elif (movienameExact['Error'] == "Movie not found!") %}
		  		<div id="result" style="width: 900px; margin-top: 40px; float: left;">
		  			Movie not found 
		  		</div>
		  	{% endif %}	
		  </div>
	  	</div>
	   </div>
	   <style type="text/css">
	   	.infoSection > div {
	   		padding-bottom: 5px;
	   	}
	   	.hero-section{
	   		color: #333;
	   	}

	   	.MovieButton{
	   		background-color: #4285f4;
			border: 0px;
			border-radius: 2px;
	   	}
	   </style>


	    <link href="{{ url_for('static', filename='css/radialProgress.css') }}" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static' , filename='js/progress.js')}}"></script>	
		<script type="text/javascript">
		$(document).ready(function(){
			$("#year").val("");
		})
		$('#Title a').click(function(evt) {
        	evt.preventDefault();
        	var text = this.innerHTML;
        	var year1 = $(this).parent().parent('.infoSection').children('#releaseYear').html();
        	var year = year1.substr(0, 4);
        	$("#movie_name").val("");
        	$("#movie_name").val(text);
        	$("#year").val("");
        	$("#year").val(year);
        	$("#submit").click();
    		});

	$(function() {

	var mm = { "Title" : "{{movienameExact['Title']}}", 
			   "releaseYear"  : "{{movienameExact['Year']}}" ,
			   "imdbID" : "{{movienameExact['imdbID']}}",
			   "Plot" : "{{movienameExact['Plot']}}",
			   "Poster" : "{{movienameExact['Poster']}}" ,
			   "Actors" : "{{movienameExact['Actors']}}" ,
			   "Genre" : "{{movienameExact['Genre']}}" ,
			   "itemType" : "{{movienameExact['Type']}}" ,
			   "Country" : "{{movienameExact['Country']}}" ,
			   "Awards" : "{{movienameExact['Awards']}}" ,
			   "Released" : "{{movienameExact['Released']}}" ,
			   "Writer" : "{{movienameExact['Writer']}}" ,
			   "imdbVotes" : "{{movienameExact['imdbVotes']}}" ,
			   "Metascore" : "{{movienameExact['Metascore']}}" ,
			   "Runtime" : "{{movienameExact['Runtime']}}" ,
			   "imdbRating" : "{{movienameExact['imdbRating']}}" ,
			   "Director" : "{{movienameExact['Director']}}" ,
			   "Language" : "{{movienameExact['Language']}}" ,
			   "Rated" : "{{movienameExact['Rated']}}",
			   "tomatoMeter" : "{{movienameExact['tomatoMeter']}}",
			   "tomatoRating" : "{{movienameExact['tomatoRating']}}",
			   "tomatoUserMeter" : "{{movienameExact['tomatoUserMeter']}}",
			   "tomatoUserRating" : "{{movienameExact['tomatoUserRating']}}",
			   "tomatoURL" : "{{movienameExact['tomatoURL']}}",
			   "DVD" : "{{movienameExact['DVD']}}",
			   "BoxOffice" : "{{movienameExact['BoxOffice']}}",
			   "Production" : "{{movienameExact['Production']}}",
			   "Website" : "{{movienameExact['Website']}}",
			   "imdbScore" : "{{movienameExact['imdbScore']}}",
			   "rtScore" : "{{movienameExact['rtScore']}}",
			   "metaScore" : "{{movienameExact['metaScore']}}"};

    $('#watched').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_add_to_watched', mm , function(data) {
        console.log(data.result + 'added to watched');
      }); 
      return false;
    });
    
    $('#watchlist').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_add_to_watchlist', mm, function(data) {
        console.log(data.result + 'added to watchlist');
      }); 
      return false;
    });

    $('#fav').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_add_to_fav', mm, function(data) {
        console.log(data.result + 'added to fav');
      }); 
      return false;
    });    
  });

	   </script>
	</main>

{% endblock %}