<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
    <script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="title">Movie Tracker</h1>
        <div class="Nav-bar">
              <span><a href="{{ url_for('home') }}">Home</a></span>
              <span><a href="{{ url_for('watched') }}">Watched</a></span>
              <span><a href="{{ url_for('fav') }}">Favorite</a></span>
              <span><a href="{{ url_for('watchlist') }}">WatchList</a></span>
              <span><a href="{{ url_for('feedback') }}">Feedback</a></span>
              {% if not session.email %}
                  <a href="{{ url_for('login') }}">Log in</a>
              {% else %}
                  <a href="{{ url_for('logout') }}">Log out</a>
              {% endif %}
        </div>
      </div>
    </header>
    
    {% block content %}
    {% endblock %} 
  </body>
</html>
