{% extends "layout.html" %}

{% block content %}

	<main class = "hero-section">
	  <div class = "container">
	    
	    	  <div class="section-tabs" >
	    	  </div>


	    	  	  <div class="section-map">
	  				<div class="nav">
	  					This is watched list
	  					<div class="posterSection" style="float:left;width: 220px; padding-right: 30px;">
		   			<img src="{{watchedMovies['poster']}}" style="height: 330px ;width: 220px;border: 4px solid #1266f1; border-radius: 10px;" alt='.'>

	  				</div>
	  			</div>

	  </div>
	 </main>
	 {% endblock %}