{% extends "layout.html" %}

{% block content %}

	<main class = "hero-section">
	  <div class = "container">
	    
	    	  <div class="section-tabs" style="width: 800px" >

	  				<div class="nav">
	  					{% for movie in watchedMovies %}
	  					<div class="posterSection" style="float:left;width: 170px;max-height: 320px; padding-right: 30px;padding-bottom: 20px;">
		   			<img src="{{movie.poster}}" style="height: 255px ;width: 170px;border: 4px solid #1266f1; border-radius: 10px;" alt='.'> 	
		   			<div id="Title" style="font-size: 18px;font-weight: bold;">{{movie.title}}</div>
		   			<div id="year" style="font-size: 18px;font-weight: bold;">{{movie.year}}</div>
	  				</div>
	  					{% endfor %}
	  			</div>
	  </div>
	 </main>
	 {% endblock %}