{% extends "layout.html" %}

{% block content %}

	<main class = "hero-section">
  		<div class = "container">
    	  	<div class="section-tabs" style="width: 900px" >
  				<div class="nav" style="margin-top: 70px;margin-left: 100px;" >
  					{% for movie in watchedMovies %}
  					<div class="posterSection">
			   			<img id="poster" src="{{movie.poster}}" alt='.'> 	
			   			<div id="Title">{{movie.title}}</div>
			   			<div id="year">({{movie.year}})</div>
  					</div>
  					{% endfor %}
  				</div>
  			</div>
  		</div>	

	  	<style type="text/css">
	  	.posterSection{
	  		float:left;
	  		width: 170px;
	  		max-height: 320px;
	  		padding-right: 30px;
	  		padding-bottom: 20px;
	  		font-size: 18px;
	  		color: #333;
	  	}
	  	#poster{
	  		height: 255px;
	  		width: 170px;
	  		border: 4px solid #1266f1; 
	  		border-radius: 10px;
	  	}
	  	#Title{
	  		font-weight: bold;
	  	}
	  	#year{
	  		font-weight: italic;
	  	}
	  	</style>
	 </main>

{% endblock %}